.main-nav-holder {
    left: 0;
    top: 0;
	width: 100%;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	flex-direction: -webkit-column;
	flex-direction: -ms-column;
	flex-direction:	column;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap: wrap;
}

.main-nav-top {
	background-color: #141414;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	justify-content: space-around;

	align-items: center;
}

.main-nav-bottom {
	background-color: #5e5e5e;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	justify-content: space-around;

	align-items: center;
}

.main-nav-top-1 {
	flex: 2 1 auto;
}

.logo {
	width: 10rem;
	padding: 0.6rem 2rem;
}

.main-nav-top-2 {
	flex: 8 1 auto;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	justify-content: space-around;
}

.main-nav-holder .main-nav-search-bar {
	height: 100%;
}


.main-nav-holder input[type=text] {
	flex: 99 5 auto;
	padding: .45rem;
	margin-top: .5rem;
	font-size: 1.3rem;
	border: none;
	background-color: #141414;
	border-bottom: 2px solid #5e5e5e;

	color: #efefef;
}


.main-nav-holder input[type=text]:focus {
    outline-color: rgba(0,0,0,0);
    border-bottom: 3px solid #efefef;
}

.main-nav-top-2 button {
	width: 2.5em;
	background-color: rgba(0,0,0,0);
	background-image: url("../img/search-icon.png");
	background-repeat: no-repeat;
	background-size: contain;

	border: none;

	transition-duration: .5s;
  	transition-property: opacity;

	opacity: 0.6;
}

.main-nav-holder button:hover, .main-nav-holder button:focus {
    opacity: 1.0;
}

.login {
	text-align: center;
	font-size: 1.5rem;
}

.main-nav-box {
	flex: 1 1 auto;
	padding: .7rem;
}

.main-nav-bottom-item {
	text-align: center;
	text-decoration: none;
	color: #efefef;

	transition-property: color;
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.main-nav-bottom-item:hover, .main-nav-bottom-item:focus {
    background-color: #6e6e6e;
    color: #f3f3f3;
}
