/*with help from w3school on transition, text decoration and other css property*/

html{
  font-size: 1rem;
}

.body-wrapper{
  margin-top: 0;
  padding: 0rem 5rem;
}

img {
  max-height: 80%;
  max-width: 100%;

  padding: 0rem 0rem 2rem;
}

.h3-heading{   
  padding: 3rem 0 0;
}

section{
  margin: 6rem 0rem 0rem;
}

.main-nav{
  max-width: 7rem;
  font-size: 1.2rem;
  margin-bottom: .25rem;
  padding: 0.15rem;
  padding-left: .5rem;
  color: #ff75a7;
  text-decoration: none;

  transition-duration: .5s;
  transition-property: background-color, color;
}

.main-nav:hover, .main-nav:focus, .main-nav:active{
  /*background-color: #3eefb4;*/
  color: #ff0a53;
  text-decoration: underline;
}



.inText-link{
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: #ff75a7;

  transition-property: color;
  transition-duration: 0.3s;
}

.inText-link:hover, .inText-link:focus{
  text-decoration: underline;
  color: #ff0a53;
}

p{
  padding: 1.5rem 0 0;
  max-width: 70%;
}

.sample-submit-button{
  border: solid 3px #f44242;
  background-color: #f47a41;
  color: white;
  font-size: 2rem;

  transition-property: border-color, background-color;
  transition-duration: 0.3s;
}

.sample-submit-button:hover, .sample-submit-button:focus{
  border-color: black;
  background-color: red;
}

.code-holder {
  border: solid black 1px;
  background-color: #eee;
  padding: 1rem 3rem;
}

.citation-section{
  position: relative;
  padding-bottom: 10rem;
}

.reference-wrap{
  padding-left: 10rem;
  padding-right: 10rem;
  width: 70%;
}

.citation-section p{
  padding-top: .8rem;
  font-size: .8rem;
  color: #999999;
  letter-spacing: 0.05rem;
  line-height: 1.2rem;
}