#contact-page {
  padding: 6em 5em;
  background-color: #EEE;
}

 #googlemap{
  padding-top: 3em;
 }

.google-map-button{
  text-decoration: none;
  color: black;
  font-style: normal;
  font-size: 0.85em;

  padding: .8em 2.4em;
  border: 1px solid #000000;
}
.google-map-button:hover, .google-map-button:active {
  background-color: #1A331E;
  color: white;
  border-color: #1A331E;
}

@media screen and (max-width: 1000px) {
  #contact-page * {
    font-size: 25px;
  }

  #contact-page {
    padding-top: 10em;
  }

 #googlemap{
  padding-top: 3em;
 }
}
