/*#img-container {
  width: 50%;
}*/
html {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

#img-container {
  width: 100%;
  height: 100vh;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  position: relative;
}

.about-text-holder {
  width: inherit;
  height: inherit;
  margin: auto;

  position: relative;
}

.about-text-holder > p:first-child {
  margin-top: 45vh;
  width: inherit;

  font-size: 3.5em;
  font-weight: 500;

  text-align: center;
  text-shadow: .1em .1em .1em #1A331E;

  color: white;

  position: absolute;
}

.mobile-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  text-align: center;

  padding: 15vh 12vw 0;
  color: #EEE;
  background-color: rgba(0,0,0,0.05);

  text-shadow: 1em 1em 1em #1A331E;

  visibility: hidden;
}

.mobile-title > P {
  font-size: 3em;
  font-weight: 800;
}

.about {
  flex-wrap: -webkit-wrap;
  flex-wrap: -ms-wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}
.about-button {
  border: 2px solid black;
  padding: 1.05em;
  flex-basis: 10%;
  text-align: center;
  max-width: 14.5em;
  margin: .8em;
  text-decoration: none;
  color: black;
  transition-duration: .5s;
  transition-property: all;
  transition-timing-function: ease;
}
.about-button:hover, .about-button:active {
  background-color: #1A331E;
  color: white;
  border-color: #1A331E;
}
.mission-content{
  padding: 4em 4em;
  background-color: lightgray;
  text-align: center;
}

.purpose-content{
  padding: 4em 4em;

  text-align: center;
}
.values-content{
  padding: 4em 4em;
  background-color: lightgray;
  text-align: center;

 }
.mission-page-img{
  width: 100%;
}
.mission-text{
  width: 100%;
}
.purpose-text{
  width: 100%;
}
.values-text{
  width: 100%;
}

 @media screen and (max-width: 1000px) {

  body * {
    font-size: 25pt;
  }

  #img-container {
    width: 100%;
    height: 30vh;
  }

 .about-text-holder > p:first-child {
   visibility: hidden;
 }

 .mobile-title {
   visibility: visible;
 }


 .mission-text{
    width: 100%;
  }
  .purpose-text{
    width: 100%;
  }
  .values-text{
    width: 100%;
  }

}
