/*#img-container {
  width: 50%;
}*/


.about {

  flex-wrap: -webkit-wrap;
  flex-wrap: -ms-wrap;
  flex-wrap: wrap;

  justify-content: space-around;

  margin-top: 3.5em;

  margin-bottom: 3.5em;
}

.about-button {
  border: 2px solid black;
  padding: 1.05em;
  flex-basis: 10%;
  text-align: center;

  max-width: 14.5em;

  margin: .8em;

  text-decoration: none;
  color: black;

  transition-duration: .5s;
  transition-property: all;
  transition-timing-function: ease;
}

.rabout-button:hover, .about-button:active {
  background-color: #1A331E;
  color: white;
  border-color: #1A331E;
}


.mission-content{
  padding: 4em 4em;
  background-color: lightgray;

}


.purpose-content{
  padding: 4em 4em;


}

.values-content{
  padding: 4em 4em;
  background-color: lightgray;

}


@media screen and (max-width: 1000px) {


}
