/* Use a media query to add a break point at 800px: */
/*
@media screen and (max-width: 1300px) {
  *{
    font-size: 15px;
  }
}

@media screen and (max-width: 1200px) {
  *{
    font-size: 14px;
  }
}

@media screen and (max-width: 1150px) {
  *{
    font-size: 13px;
  }
}

@media screen and (max-width: 1100px) {
  *{
    font-size: 11px;
  }
}
*/

@media screen and (min-width: 1050px) {
  *{
    font-size: 14px;
  }
}

@media screen and (min-width: 1100px) {
  *{
    font-size: 15px;
  }
}

@media screen and (min-width: 1300px) {
  *{
    font-size: 16px;
  }
}


body {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

h1 {
	font-weight: 400;
	font-size: 2.5em;
}

h2 {
	font-weight: 300;
	font-size: 1.67em;
}

h3 {
	font-weight: 300;
	font-size: .83em;
}

p {
    letter-spacing: 0.02em;
    word-spacing: 0.02em;
  	line-height: 1.6em;
  	font-size: 0.95em;
		font-weight: 300;
}

img {
	width: auto;
	height: auto;
}

.bE-link {
	font-weight: bold;
	text-decoration: none;
	color: #d11919;

	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.bE-link:hover, .bE-link:focus{
	text-decoration: underline;
	color: #a80e0e;
}

.bE-form {
	padding: 1em;
}

.bE-label {

}

.bE-input-text{
	margin-bottom: 0.5em;
	border: 1px solid #ccc;
	padding: 0.7em 1.5em 0.7em;
}

.bE-button {
	margin: 0.5em 0 0.5em;
	padding: 0.5em 1.5em 0.5em;
	border: none;

	background-color: #141414;
	color: #efefef;

	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.bE-button:hover, .bE-button:focus{
	background-color: #d11919;
}

.square {
    width: 1em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
    display: inline-block;
    margin: 0 0.2em 0.2em -0.2em;
    border: 1px solid #ccc;
}

.color-swatches {
	padding: 0.5em 1.5em 0.5em 0.5em;
	border: 1px solid #ccc;
}

ul.clear-list{
	list-style-type: "- ";
	font-size: 1.05em;
	letter-spacing: 0.05em;
    word-spacing: 0.05em;
  	line-height: 1.6em;
}

ol.clear-list{
	list-style-type: decimal-leading-zero;
	font-size: 1.05em;
	letter-spacing: 0.05em;
    word-spacing: 0.05em;
  	line-height: 1.6em;
}

.flex-box {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	align-items: center;
}

.flex-spaceholder-max {
	flex: 999 1 auto;
}

.flex-spaceholder-min {
	flex: 1 1 auto;
}

.searchbar {
	text-align: center;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	align-items: center;

}

.searchbar input[type=text] {
	flex: 99 1 auto;
	padding: 0.5em;
	font-size: 1em;

	color: #efefef;
}


.searchbar input[type=text]:focus {
    outline-width: 1px;
}

.searchbar button {
	flex: 1 1 auto;
	width: 2em;
	height: 2em;
	padding: 0.25em;
	background-color: rgba(0,0,0,0);
	background-image: url("../img/search-icon-darker.png");
	background-repeat: no-repeat;
	background-size: contain;

	border: none;

	transition-duration: .5s;
	transition-property: opacity;

	opacity: 0.6;
}

.searchbar button:hover, .searchbar button:focus {
    opacity: 1.0;
}

.group {
	border-bottom: 1px solid #ddd;
}

.bold-text {
	font-weight: 800;
}

.light-text {
	font-weight: 100;
}

#myCarousel{
  height: 100%;
	width: 100%;
}

#myCarousel img{
	object-fit: none; /* Do not scale the image */
	object-position: center; /* Center the image within the element */
	height: 100%;
	width: 100%;
}

.carousel-inner > .item {
	position: relative;
	width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-inner {
	width: 100%;
  height: 100%;
}

.carousel-indicators{

}

.carousel-indicators li{
  border-color: #555555;
}

.carousel-indicators .active{
  background-color: #555555;
}

.carousel-caption{
	position: absolute;
  max-width: 100%;
	max-height: 100%;
  text-align: left;
  padding: 5em;
  color: #333333;

	top: 70%;
}

.carousel-caption > p{
  text-shadow: 2px 2px 5px #333;
  font-size: 1.1em;
	text-align: left;
}


.carousel-caption > .Title{
  font-size: 2em;
}

.carousel-control {
	background-image: none !important;
}

.carousel-control > .glyphicon:hover, .carousel-control > .glyphicon:active {
	text-shadow: 5px 5px 5px #333;
}
