footer {
  padding: 3rem 5rem;
  background-color: #111111;

  justify-content: space-between;

  align-items: stretch !important;
}

footer, footer a {
  color: #EEE;
  text-decoration: none;

  transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.left-footer {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start !important;

  padding-right: 20vw;
}

.left-footer > .flex-spaceholder-min{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.logo img {
  max-height: 4rem;
  width: auto;
}

.footer-button {
  text-decoration: none;
  font-style: normal;
  font-size: 0.85rem;

  padding: .8rem 2.4rem;
  border: 1px solid #EEE;
}

.footer-button:hover, .footer-button:active {
  color: #111111;
  background-color: #EEE;
  border-color: #EEE;
}

.right-footer {
  flex-direction: column;
  align-items: flex-end;
}

.right-footer .flex-box {
  flex-wrap: wrap;
}

.footer-nav {
  margin-bottom: 2.5rem;
  margin-top: 4rem;
  align-self: stretch;
}

.footer-nav > a {
  font-size: 0.87rem;
  text-align:right;
  font-weight: 700;
  color: #CCC;
  margin: 0 .5rem .5rem;
}

.footer-nav > a:hover, .footer-nav > a:active {
  color: #EEE;
  text-decoration: underline;
}

.icon-holder {
  width: 15rem;
}

.link-icon {
  flex-basis: 3rem;
}

.link-icon > img{
  max-height: 2rem;
  width: auto;

  opacity: 1;

  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.link-icon > img:hover, .link-icon > img:active {
  opacity: 0.5;
}

.right-footer > p {
  font-size: 0.75rem;
  font-weight: 100;
  padding-right: .7rem;
}
