
.mobile-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  padding: 15vh 12vw 0;
  color: #EEE;
  background-color: rgba(0,0,0,0.05);

  text-shadow: 1em 1em 1em #1A331E;

  visibility: hidden;
}
.review-section{
  padding: 20px;
}
.cover-page{
  width: 100%;
  height: 100vh;
}

.main-nav-top {
  background: none;
}
.room-title{
    position: relative;
    margin-right: 20em;
    bottom:300px;
    font-size: 10em;
    font-weight: 800;
    color: white;
    padding-left: 100px;
}

.room-title:hover{
color: #1A331E;
text-decoration: none;

}
.to-promotion-page:hover{
 color: #1A331E;
text-decoration: none;
}

.room-content-left-section{
  width: 80%;
}
.landing-page-title{
    position: absolute；
    bottom:300px;
    font-size: 3.5em;
    font-weight: 500;
    padding-bottom: 300px;
}
.promotion-section-title{
    position: relative;
    margin-right: 20em;
    bottom:300px;

    font-weight: 800;
    color: white;
    padding-left: 100px;
}
.promotion-section-title > a{
      font-size: 10em;
      color: white;
}

.about-ding{
/*  border: 10px solid black;*/
  padding: 3em 3em;
  text-align: center;
}

.room-img-cover-page{
  width: 100%;
  height: 100vh;
}

.promotion-section{
  width: 100%;
}
.promotion-section-img{
  width: 100%;
}
@media screen and (max-width: 1000px) {

  .cover-page{
  width: 100%;
  height: 50vh;
}
  .carousel-caption {
    visibility: hidden;
  }

  .mobile-title {
    visibility: visible;
  }

  .mobile-title > h1 {
    font-size: 8em;
    font-weight: 800;
  }

  .room-img-cover-page{
  width: 100%;
  height: 37vh;
  }
  .room-content-left-section{
    width: 100%;
    border: none;
    padding-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .review-section{
    padding:30px;
  }
  .star-reviewed{
    padding:50px;
  }

.promotion-section-img{
  margin-top: 100px;
}
.promotion-section-title{
  bottom:300px;
  font-size: 7pt;
}

.review-section{
  margin-top:0;
}

}
