#wrapper {
  position: relative;
  width: 100vw;
  height: 60vh;
}
.mobile-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  padding: 15vh 12vw 0;
  color: #EEE;
  background-color: rgba(0,0,0,0.05);

  text-shadow: 1em 1em 1em #1A331E;

  visibility: hidden;
}

.main-nav-top {
  background: none;
}

.title{
    font-size: 3.5em;
    font-weight: 500;
}
@media screen and (max-width: 1000px) {

  .carousel-caption {
    visibility: hidden;
  }

  .mobile-title {
    visibility: visible;
  }

  .mobile-title > h1 {
    font-size: 10em;
    font-weight: 800;
  }

  .mobile-title > h2 {
    padding-top: 1em;

    font-size: 5em;
    font-weight: 100;
  }
}
