/*
insepration of this animation is from css trick:
Controlling CSS Animations and Transitions with JavaScript
by Zach Saucier
https://css-tricks.com/controlling-css-animations-transitions-javascript/
*/
#navgation-bar, #navgation-bar * {
  z-index: 99;
}

#navgation-bar {
  position: relative;
}

.main-nav-top {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;

  justify-content: space-between;

  background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  background-color: rgba(0,0,0,0);

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.main-nav-top.scroll-up {
  top: -10em !important;
}

.main-nav-top .top-items {
  margin: .5em 3em 1.3em;
  text-align: center;


  text-decoration: none;
  color: #FFF;
}

#call-left {
  height: 3em;
  width: 3em;
}

#call-left > img{
	object-fit: cover; /* Maintain its aspect ratio */
	object-position: center; /* Center the image within the element */
	height: 100%;
	width: 100%;
}

.logo img {
  max-height: 4em;
  width: auto;
}

.book-button {
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 0.03em;
  word-spacing: 0.02em;

  padding: .6em;
  border: 1px solid white;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.book-button:hover, .book-button:focus, .book-button:active {
    background-color: white;
    color: #314820;
}

.main-nav-left {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;

  flex-direction: column;
  align-items: flex-start !important;

  padding: 2em 3em;

  background: linear-gradient(90deg, rgba(45,45,45,1) 0%, rgba(0,0,0,0.7) 100%);
  background-color: rgba(0,0,0,0);

  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  -ms-transition: left .5s ease-in-out;
  -o-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
}

.main-nav-left.disappear {
  left: -25em !important;
}

.main-nav-left .logo {
  padding-right: 12.5em;
}

.main-nav-left .logo img {
  max-height: 4.5em;
}

#close-left{
  font-size: 0.9em;
  font-weight: 100;
  color: rgba(255,255,255,0.3);

  transition-duration: .5s;
  transition-property: color;
  transition-timing-function: ease;
}

#close-left:hover {
  color: rgba(255,255,255,1);
}

.nav-list-holder {
  left: 0;
}

ul.nav-list{
	list-style-type: none !important;
  list-style-position: inside;

  padding-inline-start: 0;
  margin-block-start: 2em;
  margin-block-end: 1em;
}

.nav-list > li {
  padding: 0;
}

.main-nav-item {
  font-size: .95em;
  font-weight: 400;
	letter-spacing: 0.05em;
  word-spacing: 0.05em;
  line-height: 2.65em;

  text-decoration: none;
  color: rgba(255,255,255,0.8);

  padding: .3em 0;

  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -ms-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.main-nav-item:hover, .main-nav-item:focus, .main-nav-item:active {
    color: white;
    text-decoration: underline;
}

.language {
  justify-content: space-between;
  width: 100%;
}

.mobile-backup-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: -28em;

  background: black;
  height: 28em;
}

.backup-nav {
  flex-direction: column;
  padding: 7em 3em;
  align-items: flex-start !important;
}

.backup-nav > .flex-spaceholder-max {
  font-size: 0.87em;
  text-align:right;
  font-weight: 700;
  color: #CCC;
  margin: .5em 0 1em;

  text-decoration: none;

  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -ms-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.backup-nav > .flex-spaceholder-max:hover,
.backup-nav > .flex-spaceholder-max:active,
.backup-nav > .flex-spaceholder-max:focus {
  color: #EEE;
  text-decoration: underline;
}


@media screen and (max-width: 1000px) {
  #navgation-bar *{
    font-size: 40px;
  }

  .book-button {
    font-size: .55em !important;
    padding: 1em;
  }

  .main-nav-left {
    visibility: hidden;
  }

  .mobile-backup-nav {
    position: relative;
    top: 0;
  }
}
