/*
insepration of this animation is from css trick:
Controlling CSS Animations and Transitions with JavaScript
by Zach Saucier
https://css-tricks.com/controlling-css-animations-transitions-javascript/
*/
.main-nav-top {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;

  justify-content: space-between;

  background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  background-color: rgba(0,0,0,0);

  -webkit-transition: top .5s ease-in-out;
  -moz-transition: top .5s ease-in-out;
  -ms-transition: top .5s ease-in-out;
  -o-transition: top .5s ease-in-out;
  transition: top .5s ease-in-out;
}

.main-nav-top.scroll-up {
  top: -10rem !important;
}

.main-nav-top .top-items {
  margin: .5rem 3rem 1.3rem;
  text-align: center;


  text-decoration: none;
  color: #FFF;
}

#call-left {
  font-size: 2rem;
  font-weight: 100;
}

.logo img {
  max-height: 4rem;
  width: auto;
}

.book-button {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
  word-spacing: 0.02rem;

  padding: .6rem;
  border: 1px solid white;

  transition-duration: .5s;
	transition-property: background-color;
  transition-property: color;
  transition-timing-function: ease;
}

.book-button:hover, .book-button:focus {
    background-color: white;
    color: #314820;
}

.main-nav-left {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;

  flex-direction: column;
  align-items: flex-start;

  padding: 2rem 3rem;

  background: linear-gradient(90deg, rgba(45,45,45,1) 0%, rgba(0,0,0,0.7) 100%);
  background-color: rgba(0,0,0,0);

  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  -ms-transition: left .5s ease-in-out;
  -o-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
}

.main-nav-left.disappear {
  left: -25rem !important;
}

.main-nav-left .logo {
  padding-right: 12.5rem;
}

.main-nav-left .logo img {
  max-height: 4.5rem;
}

#close-left{
  font-size: 0.9rem;
  font-weight: 100;
  color: rgba(255,255,255,0.3);

  transition-duration: .5s;
  transition-property: color;
  transition-timing-function: ease;
}

#close-left:hover {
  color: rgba(255,255,255,1);
}

.nav-list-holder {
  left: 0;
}

ul.nav-list{
	list-style-type: none;
  list-style-position: inside;

  padding-inline-start: 0;
  margin-block-start: 2em;
  margin-block-end: 1em;
}

.main-nav-item {
  font-size: .95rem;
  font-weight: 400;
	letter-spacing: 0.05rem;
  word-spacing: 0.05rem;
  line-height: 2.65em;

  text-decoration: none;
  color: rgba(255,255,255,0.8);

  padding: .3rem 0;

  transition-duration: .5s;
  transition-property: all;
  transition-timing-function: ease;
}

.main-nav-item:hover, .main-nav-item:focus {
    color: white;
    text-decoration: underline;
}
