#product-page {
  padding: 6rem 5rem;
  background-color: #EEE;
}

.room-selection {

  flex-wrap: -webkit-wrap;
  flex-wrap: -ms-wrap;
  flex-wrap: wrap;

  justify-content: space-between;

  margin-top: 3.5rem;
}

.room-selection-button {
  border: 2px solid black;
  padding: 1.05rem;
  flex-basis: 15%;
  text-align: center;

  text-decoration: none;
  color: black;

  transition-duration: .5s;
	transition-property: all;
  transition-timing-function: ease;
}

.room-selection-button:hover, .room-selection-button:active {
  background-color: #1A331E;
  color: white;
  border-color: #1A331E;
}

.room-list {
  flex-wrap: -webkit-wrap;
  flex-wrap: -ms-wrap;
  flex-wrap: wrap;

  justify-content: space-between;

  margin-top: 3.5rem;
}

.rooms {
  padding: 1.05rem;
  flex-basis: 45%;
  padding-bottom: 30%;
  text-decoration: none;
  color:white;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-bottom: 2.5rem;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#room1, #room6{
  background-image: url(../img/Loft.jpg);
}

#room1:hover, #room6:hover{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/Loft.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#room2, #room7{
  background-image: url(../img/Penthhouse.jpg);
}

#room2:hover, #room7:hover{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/Penthhouse.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#room3, #room8{
  background-image: url(../img/Queen.jpg);
}

#room3:hover, #room8:hover{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/Queen.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#room4, #room9{
  background-image: url(../img/Suit.jpg);
}

#room4:hover, #room9:hover{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/Suit.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#room5, #room10{
  background-image: url(../img/Villa.jpg);
}

#room5:hover, #room10:hover{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/Villa.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rooms p{
  text-align: right;
}
