#product-page {
  padding: 6em 5em;
  background-color: #EEE;
}

.room-selection {

  flex-wrap: -webkit-wrap;
  flex-wrap: -ms-wrap;
  flex-wrap: wrap;

  justify-content: space-between;

  margin-top: 3.5em;
}

.room-selection-button {
  border: 2px solid black;
  padding: 1.05em;
  flex-basis: 10%;
  text-align: center;

  max-width: 14.5em;

  margin: .8em;

  text-decoration: none;
  color: black;

  transition-duration: .5s;
	transition-property: all;
  transition-timing-function: ease;
}

.room-selection-button:hover, .room-selection-button:active, .room-selection-button:focus {
  background-color: #1A331E;
  color: white;
  border-color: #1A331E;
}

.room-list {
  flex-wrap: -webkit-wrap;
  flex-wrap: -ms-wrap;
  flex-wrap: wrap;

  justify-content: space-between;

  margin-top: 3.5em;
}

.rooms {
  min-width: 30vw;
  max-width: 38vw;
  flex-direction: column;
  align-items: center;

  padding: 1.05em;
  margin-bottom: 3em;

  position: relative;
}

.rooms > a:first-child {
  height: 23vw;
}

.rooms > a > img {
  object-fit: cover; /* Maintain its aspect ratio */
  object-position: center; /* Center the image within the element */
  height: 100%;
  width: 100%;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.rooms > a > img:hover, .rooms > a > img:focus, .rooms > a > img:active {
  opacity: .8;
}

.room-name {
  padding-top: .8em;
}

.room-name > a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 500;
  color: #000;

  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.room-name > a:hover, .room-name > a:focus, .room-name > a:active  {
  color: #777;
}

.room-info {
  width: 100%;
  align-items: flex-start;
}

.info {
  text-align: center;
  flex-basis: 18%;

  color: #aaa;
  font-size: 1.8em;

  padding: 0 1em;

  border-right: 1px solid #aaa;
}

.info:last-child{
  border-right: none;
}

.info > p {
  margin: 0 0 .8em;
  line-height: 1em;
}

.info > span > p {
  text-transform: uppercase;
  line-height: .1em;
  font-size: .8em;
}

.room-nav {
  margin: auto;
  margin-top: 2em;

  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 0.15em;
}

.room-nav > a {
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  line-height: 2em;

  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.room-nav > a:first-child {
  margin-right: 3em;
}

.room-nav > a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: black;
}

.room-nav > a:hover, .room-nav > a:active, .room-nav > a:focus {
  color: #777;
}

@media screen and (max-width: 1000px) {
  #product-page * {
    font-size: 25px;
  }

  #product-page {
    padding-top: 10em;
  }

  .rooms {
    max-width: 100%;
  }

  .rooms > a:first-child {
    height: 45vw;
  }
}
